{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/Header.css'%}" />
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "en,hi", // Add languages you want to include
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          },
          "google_translate_element"
        );
      }
    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head>
  <body>
    <header class="top-header">
      <div class="container">
        <div class="header-content">
          <div class="address-container">
            <div id="address-label" style="background-color: blue; padding: 10px;">Address</div>
            <div class="address-content">
              <marquee behavior="scroll" direction="left">
                <span id="phone-number">+91 96911 47442</span>
                <span id="info-email">info@aghorakhadaujjain.com</span>
                <span id="location">Ujjain, M.P.</span>
              </marquee>
            </div>
          </div>
          <div class="contact-flex">
            <div class="phone-number">
              <i class="fas fa-phone"></i>
              <span id="phone-number">+91 96911 47442</span>
            </div>
            <div class="social-icons">
              <a href="https://www.instagram.com/aghorakhaaddaaujjain/?utm_source=ig_web_button_share_sheet" target="_blank"><i class="fab fa-instagram" target="_blank"></i></a>
              <a href="https://www.facebook.com/profile.php?id=61566804033870" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://www.youtube.com/@user-ic8il6zt8i" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            <div id="google_translate_element"></div>
            <!-- Google Translate Widget -->
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
