{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">    
    </style>
  </head>
  <body>
    {% include 'Header.html' %}
    {% include 'subheader.html' %}
    <header>
      <nav id="navbar">
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services'%}">Services</a></li>
          <li ><a href="{% url 'donate'%}">Donate</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="{% url 'gallery' %}">gallery</a></li>
          <li><a href="#gallery">Mission and vision</a></li>
          <li><a href="#Achievements">Achievements</a></li>
          <li><a href="#Projects">Projects</a></li>
          <li><a href="{% url 'testimonial_list'%}">testimonial</a></li>
          
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </header>
    <script src="{% static 'javascript/nav.js' %}">
    </script>
  </body>
</html>
