{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/subheader.css' %}" />
  </head>
  <body>
    <div class="subheader">
      <div class="container">
        <div class="subheader-content">
          <div class="subheader-logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" />
          </div>
          <div class="sub-title" style="font-size: 2em;">अघोर अखाड़ा ज्योतिष पीठ उज्जैन</div>
          <div class="membership-btn" >
            <div>
              <a href="{% url 'register' %}"><button>Apply for membership</button></a>
            </div>
            <div>
              <a href="{% url 'login' %}"><button>Login</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
